{
  "trailingComma": "none", // Убирает точки с запятыми в конце строк
  "tabWidth": 2, // Устанавливает ширину отступов (измените на нужное значение)
  "useTabs": false // Использует пробелы вместо табов (или true для использования табов)
}